h1 我的12306
p 欢迎使用 我的12306

p 自动登陆重试工具
a(class='bookmarklet', href="javascript:(function(){var d=document,s=d.createElement('script'),b=d.body;s.setAttribute('src','http://my12306.3322.rog/login.js');b.appendChild(s);})()") 12306登陆助手

p 使用方法：
p 1. 把以上链接(12306登陆助手)拖入收藏夹。
p 2. 在12306登陆页(https://dynamic.12306.cn/otsweb/main.jsp) 通过收藏夹点击此工具
p 3. 在此工具内登陆。则会自动重试登陆，免去不停手工操作的痛苦。

<script type="text/javascript"><!-- google_ad_client = "ca-pub-3245882208923712"; /* 12306 */ google_ad_slot = "3639479334"; google_ad_width = 300; google_ad_height = 250; //--> </script> <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> </script>

<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-28099562-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>
